@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  font-family: "Nanum Gothic", sans-serif;
}
.content{
  display: flex;
  flex-direction: column;
  width: 100%;
  background: url("./img/i.webp") no-repeat fixed;
}
.header {
  background-color: rgba(255, 255, 255, 0.5); /* Прозрачный белый фон */
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black; /* Четкий текст */
  font-size: 30px;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}
.title{
  margin-top: 20px;
  font-weight: 600;
  font-size: 25px;
  color: black;
}
.text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  font-size: 20px;
  color: black;
}
.text_1{
  display: flex;
  justify-content: start;
  margin-bottom: 30px;
  color: black;
}
.text_2{
  display: flex;
  justify-content: end;
  margin-bottom: 30px;
  color: black;
}
.first{
  font-size: 30px;
  font-weight: 700;
  border: 2px solid;
  border-radius: 80px;
  padding: 3px 15px;
  background-color: #ededf4;
  color: black;
}
.second{
  font-size: 30px;
  font-weight: 700;
  border: 2px solid;
  border-radius: 80px;
  padding: 3px 15px;
  background-color: white;
  color: black;
}
.content_first{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  color: black;
}
.content_first_text{
  width: 70%;
  margin-bottom: 20px;
  font-size: 20px;
  border-top: 2px solid gray;
  padding-top: 20px;
  color: black;
}
.ul_li{
  font-size: 20px;
  width: 50%;
  color: black;
}
.ul_li li{
  margin-bottom: 10px;
  color: black;
}
.content_second{
  width: 50%;
  margin: 50px 0;
  font-size: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 5px 10px 7px rgba(34, 60, 80, 0.2);
  color: black;
}
.slide{
  width: 40%;
  text-align: justify;
  background-color: white;
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  min-height: 100px;
  box-shadow: 0px 5px 10px 7px rgba(34, 60, 80, 0.2);
  color: black;
}
.slides{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: black;
}
.second_content_text{
  width: 50%;
  margin: 20px;
  font-weight: 500;
  font-size: 20px;
  padding: 20px;
  text-align: justify;
  border: 2px dashed black;
  color: black;
}
.content_second_end{
  width: 70%;
  margin: 50px 0;
  font-size: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  box-shadow: 0px 5px 10px 7px rgba(34, 60, 80, 0.2);
  color: black;
}
.content_second_end_text{
  font-family: "Montserrat", sans-serif;
  margin: 30px;
  color: black;
}
.text2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  font-size: 20px;
  color: black;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #ededf4;
  height: 200px;
  color: black;
}